<header
  class="mx-auto max-w-screen-sm sm:max-w-screen-md md:max-w-screen-lg lg:max-w-screen-xl lg:bg-transparent"
>
  <nav 
  class="w-full flex justify-between items-center px-12 py-2 relative"
    >
    <div class="flex justify-center items-center">
        <div class="sm:px-8">
            <a href="#">
                <img src="../../../assets/Logos/Ebooks-Color.svg" class="rounded-lg pointer sm-w-40 md:w-44 lg:w-48 xl:w-52 " />
            </a>
        </div>
    </div>
    <div class="hidden md:flex justify-center items-center">
        <ul class="flex justify-between gap-x-24 px-12 items-center">
            <li><a href="#">Home</a></li>
            <li><a href="#">Marketplace</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">About Us</a></li>
        </ul>
    </div>
    <div class="flex justify-between gap-x-12 px-12 items-center">
        <a 
          href="#" 
          class="py-2 px-6 font-semibold bg-[#f36c33] text-white rounded-lg border border-[#f36c33] duration-500 hover:duration-500 hover:text-[#f36c33] hover:border hover:border-[#f36c33] hover:bg-white"
          >
          Sign In
        </a>
        <a
          href="#" 
          class="py-2 px-6 font-semibold bg-[#f36c33] text-white rounded-lg border border-[#f36c33] duration-500 hover:duration-500 hover:text-[#f36c33] hover:border hover:border-[#f36c33] hover:bg-white"
          >
          Sign Up
        </a>
    </div>
  </nav>
</header>
