<header
  class="mx-auto max-w-screen-sm sm:max-w-screen-md md:max-w-screen-lg lg:max-w-screen-xl lg:bg-transparent"
>
  <nav 
  class="w-full flex justify-between items-center px-12 py-2 relative"
    >
    <div class="flex justify-center items-center">
        <div class="sm:px-8">
            <a href="#">
                <img src="../../../assets/Logos/Ebooks-Color.svg" class="rounded-lg pointer w-52" />
            </a>
        </div>
    </div>
    <div class="flex justify-center items-center">
        <ul class="flex justify-between gap-x-24 px-12 items-center">
            <li><a href="#">Home</a></li>
            <li><a href="#">Marketplace</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">About Us</a></li>
        </ul>
    </div>
    <div class="flex justify-between gap-x-12 px-12 items-center">
        <a href="#" class="py-2 px-6 bg-orange-500 text-white rounded-lg">Sign In</a>
        <a href="#" class="py-2 px-6 bg-orange-500 text-white rounded-lg">Sign Up</a>
    </div>
  </nav>
</header>
